
@import './variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: $first;
}

.header-logo {
    width: 50px;
    img {
        width: 100%;
        transition: all .8s;
        &:hover{
            cursor: pointer;
            scale: 1.08;
        }
    }
}

.header-ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: $fourth;
    font-weight: 600;
    li{
        transition: all .8s;
    }
    li:hover {
        cursor: pointer;
        scale: 1.08;
        color: $second;
    }
}